.MainBody{
    width: 100%;
    height: 100vh;
    background: #001d3d;
    display: flex;
}
.MenuBody{
 width: 100%;
 height: 100%;
}
.MenuHeader{
    width: 100%;
    height: 13%;
    /* border-bottom: 1px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.MenuHeader h3{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.MenuContext{
    width: 100%;
    height: 75%;
    /* background: green; */
}
.BoardHeader{
    width: 50%;
    height: 7%;
    /* background: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:  0px 10px;
    color: lightgray;
}
.AllBoard{
    width: 100%;
    height: 90%;
    /* background: red; */
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
}
.CreatedBoard{
    /* background: pink; */
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
.CreatedBoard ul li{
    margin: 10px 9px;
    list-style: none;
    padding: 10px 0px;
    color: lightgray;
    padding: 10px 10px;
}
.Active{
    background: #001d3d;
    width: 70%;
    height: 25%;
    border-radius:  0px 20px 20px 0px;
    color: lightgray;
    cursor: pointer;
}
.CreateBoard{
    width: 70%;
    height: 9%;
    background: #003566;
    margin:  0px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    font-weight: 600;
    color: lightgray;
    cursor: pointer;
    transition: all 350ms ease-in;
    transform: scale(1);
    padding: 0px 10px;
}
.CreateBoard:hover{
    transform: scale(1.06);
}
::-webkit-scrollbar{
    width: 10px;
    /* background: #000; */
}
::-webkit-scrollbar-thumb{
    /* background: grey; */
    border-radius: 5px;
}
.MenuFooter{
    width: 100%;
    height: 12%;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.LightMode{
    width: 60%;
    height: 40%;
    background: #000814;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2.3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #001d3d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .Hidebar{
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background: #003f88; */
    width: 60%;
    padding: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
  }
 .TaskBody{
  width: 100%;
  height: 100%;
  background: #000814;
  
 }
 .TaskHeader{
  width: 100%;
  height: 13%;
  background: #001d3d;
  border-left: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
 }
 .TaskDashText{
  width: 30%;
  height: 100%;
  /* background: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 .TaskDashText h3{
  font-size: 20px;
  font-weight: 500;
  color: white;
 }
 .TaskInfo{
  width: 25%;
  height: 100%;
  /* background: green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
 }
 .TaskInfo button{
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 10px;
  cursor: pointer;
  background: #003566;
  border: none;
  color: white;
}
.UserInfo{
 width: 50%;
 height: 90%;
 /* background: red; */
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
}
.UserNameHold{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: transparent;
  cursor: pointer;
}
.Logs{
  width: 40%;
  height: 7rem;
  background: #001d3d;
  position: absolute;
  top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: backInDown; 
  animation-duration: 1s; */
  border-radius: 5px 5px 0px 0px;
  /* animation: backOutDown;
  animation-duration: 1s; */
}

.Login{
  width: 100%;
  height: 50%;
  /* background: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.TaskProcess{
  width: 90%;
  height: 10%;
  /* background: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.TaskTodo{
  width: 20%;
  height: 80%;
  /* background: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.Taskcirle1{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Taskcirle2{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #003566;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Taskcirle3{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.TaskDoing{
  width: 20%;
  height: 80%;
  /* background: saddlebrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 500;
}
.TaskComplete{
  width: 20%;
  height: 80%;
  /* background: slateblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 500;
}
/* .blur{
  filter: blur(5px);
  pointer-events: none; 
} */
.AddingTask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  
}

.AddingTask.visible {
  display: flex;

}

.AddingTaskContent {
  background: #003566;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 95%;
  flex-direction: column;
  display: flex;
  align-items: center;
   animation: backInDown; 
  animation-duration: 1s; 
}
.AddTaskHeader{
  width: 100%;
  height: 7%;
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.clear{
  font-size: 25px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  transform: scale(1);
  color: white;
}
.clear:hover{
  transform: scale(1.10);

}
.AddTaskHeader h3{
  font-size: 20px;
  color: white;
}
.TaskTitle{
  width: 100%;
  height: 13%;
  /* background: green; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 0px 15px;
  gap: 7px;
}
.TaskTitle label{
  font-size: 17px ;
  color: white;
}
.TaskTitle input{
  width: 95%;
  height: 50%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2a6f97;
  padding: 0px 10px;
  font-size: 16px;
  background: transparent;
}
.Description{
  width: 100%;
  height: 28%;
  /* background: purple; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 0px 15px;
  gap: 7px;
}
.Description textarea{
  width: 90%;
  height: 90%;
  outline: none;
  border: 1px solid #2a6f97;
  padding: 10px 15px;
  background: transparent;
}
.Description label{
  font-size: 17px;
  color: white;
}
.SubTask{
  width: 100%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 0px 15px;
  gap: 7px;
}
.SubTask label{
  font-size: 17px;
  color: white;
}
.SubTask button{
  width: 90%;
  height: 25%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: #003566;
  }
.InputSubtasks{
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.InputSubtasks input{
  width: 100%;
  height: 40%;
  border-radius: 4px;
  outline: none;
  padding: 0px 15px;
  border: 1px solid #2a6f97;
  background: transparent;
}
.Status{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  padding: 0px 15px;
  gap: 5px;
}
.Status label{
  font-size: 17px;
  color: white;
}
select {
  padding: 8px; 
  font-size: 16px; 
  border: 1px solid #2a6f97;
  border-radius: 4px; 
  width: 90%; 
  outline: none;
  background: transparent;
  color: white;
}

option {
  background-color: transparent; 
  color: #333;
  padding: 8px; 
  border: 1px s;
}
.createBtn{
  width: 60%;
  height: 7%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: #000814;
  color: white;
}
.TaskList{
  width: 90%;
  height: 70%;
  /* background: #000; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Todolist{
  width: 25%;
  height: 100%;
  /* background: red; */
  overflow-y: scroll;
  padding: 0px 10px;
}
.EachCard{
  width: 100%;
  height: 20%;
  background: #003566;
  margin: 10px 0px;
  /* padding: 0px 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.EachCard p{
  color: white;
  font-size: 17px;
}
.Doinglist{
  width: 25%;
  height: 100%;
  /* background: green; */
}
.Donelist{
  width: 25%;
  height: 100%;
  /* background: pink; */
}
.BoardBody {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* Adjust the width as needed */
}

.InputField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .InputSubtasks label {
  margin-bottom: 10px;
}

 .InputField button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.WelcomeBody{
  width: 100%;
  height: 100vh;
  background: #000814;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DropWel{
  width: 50%;
  height: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.DropWel button{
  width: 60%;
  height: 30%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background: #007bff;
  font-size: 19px;
  animation: backInDown; 
  animation-duration: 2s;
}
.DropWel h4{
  color: white;
  font-size: 20px;
  animation: bounceInRight; 
  animation-duration: 2s;
}